*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 62.5%;
    /* font-family: 'ArchyEDT-Bold', sans-serif; */
    /* font-family: "BPG DedaEna Nonblock", sans-serif; */
    font-family: "DejaVu Sans Bold Oblique", sans-serif;
    height: 100%;
    font-weight: 700;
}
/* ******* header Styles ********** */
/* ******* navigacia ***** */

.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    list-style: none;
    font-size: 1.3rem;
    
    
}

.list-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-items li{
    margin-left: 1rem;
    color: #ffffff;
    text-shadow: 0 0 10px #ffffff80;
}


.header{
    width: 100%;
    padding-top: 0.5rem;
    background-color: #030303;
}


.logo{
    width:3rem;
    height: 3rem;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 100px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 100px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 100px 0px rgba(255,255,255,1);
}

/* ********** section land ******* */
/* ********** mtavari nawili ******* */

.land{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('./assets/image.png');
    background-repeat: no-repeat;
    background-image: cover;
    flex-direction: column;
    color: #fff;
}

.levan-img , .nika-img{
    width: 5rem;
    height: 5rem;
}



.contact-btn{
    border: none;
    background-color: white;
    padding: 0.5rem;
    transition: 0.3s;
}

.contact-btn:hover{
    background-color: green;
}